/*--RESET--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--TYPO--*/
body {
    font-family: 'Montserrat', sans-serif;
}
/*--COMMONS--*/
a {
    text-decoration: none;
}
nav ul li {
    list-style: none;
}
/*--HEADER--*/
header {
    height: 80px;
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 9;
}
/*--MAIN--*/
main {
    display: flex;
}
/*left main*/
aside.mobile-viewport, aside.full-viewport {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    padding: 5px 10px;
    flex-shrink: 0;
}
aside.mobile-viewport {
    width: 50px;
    background-color: bisque;
    justify-content: space-between;
    /* display: none; */
}
.aside-bottom {
    text-align: center;
}
.aside-bottom img {
    width: 60%;
    margin-top: 20px;
}
aside.full-viewport {
    width: 200px;
    background-color: blueviolet;
}
.row-logo img {
    width: 60%;
}
.row-logo nav ul li img {
    width: 10%;
}
.row.big {
    flex-grow: 1;
    overflow-y: auto;
}
hr {
    margin: 10px 0;
}
.row-user img {
    width: 10%;
    margin-right: 10px;
}
/*right main*/
section {
    width: calc(100% - 200px);
    height: calc(100vh - 80px);
    background-color: cadetblue;
    overflow-y: auto;
}
/*--FOOTER--*/
footer {
    height: 80px;
    background-color: gray;
}